In [1]:
# Import Dependencies
import requests
from pprint import pprint

In [2]:
# Try scraping the-numbers.com (for Top 100 Grossing Movies)
response = requests.get("https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/all-time")
response
import pandas as pd
df_1 = pd.read_html(response.text)[0]
df_1

,Rank,Released,Movie,DomesticBox Office,InternationalBox Office,WorldwideBox Office
0,1,2015,Star Wars Ep. VII: The Force Awakens,"$936,662,225","$1,116,648,995","$2,053,311,220"
1,2,2009,Avatar,"$760,507,625","$2,015,837,654","$2,776,345,279"
2,3,2018,Black Panther,"$700,059,566","$648,300,000","$1,348,359,566"
3,4,2018,Avengers: Infinity War,"$678,815,482","$1,369,988,242","$2,048,803,724"
4,5,1997,Titanic,"$659,363,944","$1,548,844,451","$2,208,208,395"
5,6,2015,Jurassic World,"$652,270,625","$996,584,239","$1,648,854,864"
6,7,2012,The Avengers,"$623,279,547","$894,656,350","$1,517,935,897"
7,8,2017,Star Wars Ep. VIII: The Last Jedi,"$620,181,382","$696,583,402","$1,316,764,784"
8,9,2018,Incredibles 2,"$608,581,744","$634,000,000","$1,242,581,744"
9,10,2008,The Dark Knight,"$533,720,947","$468,275,260","$1,001,996,207"
10,11,2016,Rogue One: A Star Wars Story,"$532,177,324","$516,926,732","$1,049,104,056"
11,12,2017,Beauty and the Beast,"$504,014,165","$755,185,541","$1,259,199,706"
12,13,2016,Finding Dory,"$486,295,561","$534,926,806","$1,021,222,367"
13,14,1999,Star Wars Ep. I: The Phantom Menace,"$474,544,677","$552,500,000","$1,027,044,677"
14,15,1977,Star Wars Ep. IV: A New Hope,"$460,998,007","$325,600,000","$786,598,007"
15,16,2015,Avengers: Age of Ultron,"$459,005,868","$944,008,095","$1,403,013,963"
16,17,2012,The Dark Knight Rises,"$448,139,099","$636,300,000","$1,084,439,099"
17,18,2004,Shrek 2,"$441,226,247","$495,781,885","$937,008,132"
18,19,1982,ET: The Extra-Terrestrial,"$435,110,554","$357,854,772","$792,965,326"
19,20,2013,The Hunger Games: Catching Fire,"$424,668,047","$440,200,000","$864,868,047"

In [3]:
df_2 = pd.read_html(response.text)[1]
df_2

,Rank,Released,Movie,DomesticBox Office,InternationalBox Office,WorldwideBox Office
0,21,2006,Pirates of the Caribbean: Dead Manâs Chest,"$423,315,812","$642,900,000","$1,066,215,812"
1,22,1994,The Lion King,"$421,785,283","$564,429,585","$986,214,868"
2,23,2018,Jurassic World: Fallen Kingdom,"$417,719,760","$888,053,039","$1,305,772,799"
3,24,2010,Toy Story 3,"$415,004,880","$653,874,642","$1,068,879,522"
4,25,2017,Wonder Woman,"$412,563,408","$408,569,970","$821,133,378"
5,26,2013,Iron Man 3,"$408,992,272","$806,400,000","$1,215,392,272"
6,27,2016,Captain America: Civil War,"$408,084,349","$731,990,668","$1,140,075,017"
7,28,2012,The Hunger Games,"$408,010,692","$269,912,687","$677,923,379"
8,29,2017,Jumanji: Welcome to the Jungle,"$404,508,916","$559,987,277","$964,496,193"
9,30,2002,Spider-Man,"$403,706,375","$418,000,000","$821,706,375"
10,31,2009,Transformers: Revenge of the Fallen,"$402,111,870","$434,407,829","$836,519,699"
11,32,2013,Frozen,"$400,738,009","$871,731,901","$1,272,469,910"
12,33,1993,Jurassic Park,"$395,708,305","$643,104,279","$1,038,812,584"
13,34,2017,Guardians of the Galaxy Vol 2,"$389,813,101","$472,504,158","$862,317,259"
14,35,2011,Harry Potter and the Deathly Hallows: Part II,"$381,193,157","$960,500,000","$1,341,693,157"
15,36,2003,Finding Nemo,"$380,529,370","$555,900,000","$936,429,370"
16,37,2005,Star Wars Ep. III: Revenge of the Sith,"$380,270,577","$468,728,300","$848,998,877"
17,38,2003,The Lord of the Rings: The Return of the King,"$377,845,905","$763,557,436","$1,141,403,341"
18,39,1991,Beauty and the Beast,"$376,057,266","$232,373,866","$608,431,132"
19,40,2004,Spider-Man 2,"$373,524,485","$421,586,185","$795,110,670"
20,41,2004,The Passion of the Christ,"$370,782,930","$251,558,994","$622,341,924"
21,42,2016,The Secret Life of Pets,"$368,384,330","$518,383,092","$886,767,422"
22,43,2013,Despicable Me 2,"$368,065,385","$607,151,450","$975,216,835"
23,44,2016,The Jungle Book,"$364,001,123","$598,858,011","$962,859,134"
24,45,2016,Deadpool,"$363,070,709","$437,954,884","$801,025,593"
25,46,2015,Inside Out,"$356,461,711","$497,774,281","$854,235,992"
26,47,2015,Furious 7,"$353,007,020","$1,165,715,774","$1,518,722,794"
27,48,2011,Transformers: Dark of the Moon,"$352,390,543","$771,400,000","$1,123,790,543"
28,49,2014,American Sniper,"$350,126,372","$197,200,000","$547,326,372"
29,50,2002,The Lord of the Rings: The Two Towers,"$342,548,984","$592,150,661","$934,699,645"
...,...,...,...,...,...,...
50,71,2002,Star Wars Ep. II: Attack of the Clones,"$310,676,740","$346,018,875","$656,695,615"
51,72,2007,Pirates of the Caribbean: At Worldâs End,"$309,420,425","$654,000,000","$963,420,425"
52,73,1983,Star Wars Ep. VI: Return of the Jedi,"$309,205,079","$263,500,000","$572,705,079"
53,74,1996,Independence Day,"$306,169,255","$511,231,623","$817,400,878"
54,75,2003,Pirates of the Caribbean: The Curse of the Blac…,"$305,411,224","$329,542,879","$634,954,103"
55,76,2012,Skyfall,"$304,360,277","$806,166,704","$1,110,526,981"
56,77,2012,The Hobbit: An Unexpected Journey,"$303,003,568","$714,000,000","$1,017,003,568"
57,78,2009,Harry Potter and the Half-Blood Prince,"$302,089,278","$633,124,489","$935,213,767"
58,79,2010,The Twilight Saga: Eclipse,"$300,531,751","$405,571,077","$706,102,828"
59,80,2009,The Twilight Saga: New Moon,"$296,623,634","$390,934,093","$687,557,727"
60,81,2010,Harry Potter and the Deathly Hallows: Part I,"$296,131,568","$664,300,000","$960,431,568"
61,82,1999,The Sixth Sense,"$293,506,292","$379,300,000","$672,806,292"
62,83,2009,Up,"$293,004,164","$438,459,213","$731,463,377"
63,84,2010,Inception,"$292,576,195","$539,825,887","$832,402,082"
64,85,2012,"The Twilight Saga: Breaking Dawn, Part 2","$292,324,737","$537,400,000","$829,724,737"
65,86,2007,Harry Potter and the Order of the Phoenix,"$292,137,260","$650,939,197","$943,076,457"
66,87,2005,"The Chronicles of Narnia: The Lion, the Witch a…","$291,710,957","$428,828,615","$720,539,572"
67,88,2018,Aquaman,"$291,638,247","$727,500,391","$1,019,138,638"
68,89,2013,Man of Steel,"$291,045,518","$376,954,000","$667,999,518"
69,90,1980,Star Wars Ep. V: The Empire Strikes Back,"$290,271,960","$243,889,374","$534,161,334"
70,91,2005,Harry Potter and the Goblet of Fire,"$290,201,752","$606,898,042","$897,099,794"
71,92,2001,"Monsters, Inc.","$289,423,425","$270,334,294","$559,757,719"
72,93,1990,Home Alone,"$285,761,243","$190,923,432","$476,684,675"
73,94,2015,The Hunger Games: Mockingjay - Part 2,"$281,723,902","$367,262,885","$648,986,787"
74,95,2003,The Matrix Reloaded,"$281,553,689","$457,023,240","$738,576,929"
75,96,2011,"The Twilight Saga: Breaking Dawn, Part 1","$281,287,133","$408,132,918","$689,420,051"
76,97,2004,Meet the Fockers,"$279,167,575","$237,400,000","$516,567,575"
77,98,2009,The Hangover,"$277,322,503","$188,441,583","$465,764,086"
78,99,2013,Gravity,"$274,092,705","$419,605,968","$693,698,673"
79,100,2016,Sing,"$270,329,045","$364,129,526","$634,458,571"

In [4]:
df = df_1.append(df_2).reset_index(drop=True)
df

,Rank,Released,Movie,DomesticBox Office,InternationalBox Office,WorldwideBox Office
0,1,2015,Star Wars Ep. VII: The Force Awakens,"$936,662,225","$1,116,648,995","$2,053,311,220"
1,2,2009,Avatar,"$760,507,625","$2,015,837,654","$2,776,345,279"
2,3,2018,Black Panther,"$700,059,566","$648,300,000","$1,348,359,566"
3,4,2018,Avengers: Infinity War,"$678,815,482","$1,369,988,242","$2,048,803,724"
4,5,1997,Titanic,"$659,363,944","$1,548,844,451","$2,208,208,395"
5,6,2015,Jurassic World,"$652,270,625","$996,584,239","$1,648,854,864"
6,7,2012,The Avengers,"$623,279,547","$894,656,350","$1,517,935,897"
7,8,2017,Star Wars Ep. VIII: The Last Jedi,"$620,181,382","$696,583,402","$1,316,764,784"
8,9,2018,Incredibles 2,"$608,581,744","$634,000,000","$1,242,581,744"
9,10,2008,The Dark Knight,"$533,720,947","$468,275,260","$1,001,996,207"
10,11,2016,Rogue One: A Star Wars Story,"$532,177,324","$516,926,732","$1,049,104,056"
11,12,2017,Beauty and the Beast,"$504,014,165","$755,185,541","$1,259,199,706"
12,13,2016,Finding Dory,"$486,295,561","$534,926,806","$1,021,222,367"
13,14,1999,Star Wars Ep. I: The Phantom Menace,"$474,544,677","$552,500,000","$1,027,044,677"
14,15,1977,Star Wars Ep. IV: A New Hope,"$460,998,007","$325,600,000","$786,598,007"
15,16,2015,Avengers: Age of Ultron,"$459,005,868","$944,008,095","$1,403,013,963"
16,17,2012,The Dark Knight Rises,"$448,139,099","$636,300,000","$1,084,439,099"
17,18,2004,Shrek 2,"$441,226,247","$495,781,885","$937,008,132"
18,19,1982,ET: The Extra-Terrestrial,"$435,110,554","$357,854,772","$792,965,326"
19,20,2013,The Hunger Games: Catching Fire,"$424,668,047","$440,200,000","$864,868,047"
20,21,2006,Pirates of the Caribbean: Dead Manâs Chest,"$423,315,812","$642,900,000","$1,066,215,812"
21,22,1994,The Lion King,"$421,785,283","$564,429,585","$986,214,868"
22,23,2018,Jurassic World: Fallen Kingdom,"$417,719,760","$888,053,039","$1,305,772,799"
23,24,2010,Toy Story 3,"$415,004,880","$653,874,642","$1,068,879,522"
24,25,2017,Wonder Woman,"$412,563,408","$408,569,970","$821,133,378"
25,26,2013,Iron Man 3,"$408,992,272","$806,400,000","$1,215,392,272"
26,27,2016,Captain America: Civil War,"$408,084,349","$731,990,668","$1,140,075,017"
27,28,2012,The Hunger Games,"$408,010,692","$269,912,687","$677,923,379"
28,29,2017,Jumanji: Welcome to the Jungle,"$404,508,916","$559,987,277","$964,496,193"
29,30,2002,Spider-Man,"$403,706,375","$418,000,000","$821,706,375"
...,...,...,...,...,...,...
70,71,2002,Star Wars Ep. II: Attack of the Clones,"$310,676,740","$346,018,875","$656,695,615"
71,72,2007,Pirates of the Caribbean: At Worldâs End,"$309,420,425","$654,000,000","$963,420,425"
72,73,1983,Star Wars Ep. VI: Return of the Jedi,"$309,205,079","$263,500,000","$572,705,079"
73,74,1996,Independence Day,"$306,169,255","$511,231,623","$817,400,878"
74,75,2003,Pirates of the Caribbean: The Curse of the Blac…,"$305,411,224","$329,542,879","$634,954,103"
75,76,2012,Skyfall,"$304,360,277","$806,166,704","$1,110,526,981"
76,77,2012,The Hobbit: An Unexpected Journey,"$303,003,568","$714,000,000","$1,017,003,568"
77,78,2009,Harry Potter and the Half-Blood Prince,"$302,089,278","$633,124,489","$935,213,767"
78,79,2010,The Twilight Saga: Eclipse,"$300,531,751","$405,571,077","$706,102,828"
79,80,2009,The Twilight Saga: New Moon,"$296,623,634","$390,934,093","$687,557,727"
80,81,2010,Harry Potter and the Deathly Hallows: Part I,"$296,131,568","$664,300,000","$960,431,568"
81,82,1999,The Sixth Sense,"$293,506,292","$379,300,000","$672,806,292"
82,83,2009,Up,"$293,004,164","$438,459,213","$731,463,377"
83,84,2010,Inception,"$292,576,195","$539,825,887","$832,402,082"
84,85,2012,"The Twilight Saga: Breaking Dawn, Part 2","$292,324,737","$537,400,000","$829,724,737"
85,86,2007,Harry Potter and the Order of the Phoenix,"$292,137,260","$650,939,197","$943,076,457"
86,87,2005,"The Chronicles of Narnia: The Lion, the Witch a…","$291,710,957","$428,828,615","$720,539,572"
87,88,2018,Aquaman,"$291,638,247","$727,500,391","$1,019,138,638"
88,89,2013,Man of Steel,"$291,045,518","$376,954,000","$667,999,518"
89,90,1980,Star Wars Ep. V: The Empire Strikes Back,"$290,271,960","$243,889,374","$534,161,334"
90,91,2005,Harry Potter and the Goblet of Fire,"$290,201,752","$606,898,042","$897,099,794"
91,92,2001,"Monsters, Inc.","$289,423,425","$270,334,294","$559,757,719"
92,93,1990,Home Alone,"$285,761,243","$190,923,432","$476,684,675"
93,94,2015,The Hunger Games: Mockingjay - Part 2,"$281,723,902","$367,262,885","$648,986,787"
94,95,2003,The Matrix Reloaded,"$281,553,689","$457,023,240","$738,576,929"
95,96,2011,"The Twilight Saga: Breaking Dawn, Part 1","$281,287,133","$408,132,918","$689,420,051"
96,97,2004,Meet the Fockers,"$279,167,575","$237,400,000","$516,567,575"
97,98,2009,The Hangover,"$277,322,503","$188,441,583","$465,764,086"
98,99,2013,Gravity,"$274,092,705","$419,605,968","$693,698,673"
99,100,2016,Sing,"$270,329,045","$364,129,526","$634,458,571"

In [6]:
# Convert money text to decimal formatting
from decimal import Decimal
import re

# Make a copy of dataframe
df2 = df.copy()

# Loop through copy of dataframe
for index, row in df2.iterrows():
    # Convert to decimal
    money = re.match(r'\$\d+,\d+,\d+', row['DomesticBox Office']).group()
    df2 = df2.replace(row['DomesticBox Office'], Decimal(re.sub(r'[^\d.]', '', money)))
    money = re.match(r'\$\d+,\d+,\d+', row['InternationalBox Office']).group()
    df2 = df2.replace(row['InternationalBox Office'], Decimal(re.sub(r'[^\d.]', '', money)))
    money = re.match(r'\$\d+,\d+,\d+', row['WorldwideBox Office']).group()
    df2 = df2.replace(row['WorldwideBox Office'], Decimal(re.sub(r'[^\d.]', '', money)))
    
df2

,Rank,Released,Movie,DomesticBox Office,InternationalBox Office,WorldwideBox Office
0,1,2015,Star Wars Ep. VII: The Force Awakens,936662225,1116648,2053311
1,2,2009,Avatar,760507625,2015837,2776345
2,3,2018,Black Panther,700059566,648300000,1348359
3,4,2018,Avengers: Infinity War,678815482,1369988,2048803
4,5,1997,Titanic,659363944,1548844,2208208
5,6,2015,Jurassic World,652270625,996584239,1648854
6,7,2012,The Avengers,623279547,894656350,1517935
7,8,2017,Star Wars Ep. VIII: The Last Jedi,620181382,696583402,1316764
8,9,2018,Incredibles 2,608581744,634000000,1242581
9,10,2008,The Dark Knight,533720947,468275260,1001996
10,11,2016,Rogue One: A Star Wars Story,532177324,516926732,1049104
11,12,2017,Beauty and the Beast,504014165,755185541,1259199
12,13,2016,Finding Dory,486295561,534926806,1021222
13,14,1999,Star Wars Ep. I: The Phantom Menace,474544677,552500000,1027044
14,15,1977,Star Wars Ep. IV: A New Hope,460998007,325600000,786598007
15,16,2015,Avengers: Age of Ultron,459005868,944008095,1403013
16,17,2012,The Dark Knight Rises,448139099,636300000,1084439
17,18,2004,Shrek 2,441226247,495781885,937008132
18,19,1982,ET: The Extra-Terrestrial,435110554,357854772,792965326
19,20,2013,The Hunger Games: Catching Fire,424668047,440200000,864868047
20,21,2006,Pirates of the Caribbean: Dead Manâs Chest,423315812,642900000,1066215
21,22,1994,The Lion King,421785283,564429585,986214868
22,23,2018,Jurassic World: Fallen Kingdom,417719760,888053039,1305772
23,24,2010,Toy Story 3,415004880,653874642,1068879
24,25,2017,Wonder Woman,412563408,408569970,821133378
25,26,2013,Iron Man 3,408992272,806400000,1215392
26,27,2016,Captain America: Civil War,408084349,731990668,1140075
27,28,2012,The Hunger Games,408010692,269912687,677923379
28,29,2017,Jumanji: Welcome to the Jungle,404508916,559987277,964496193
29,30,2002,Spider-Man,403706375,418000000,821706375
...,...,...,...,...,...,...
70,71,2002,Star Wars Ep. II: Attack of the Clones,310676740,346018875,656695615
71,72,2007,Pirates of the Caribbean: At Worldâs End,309420425,654000000,963420425
72,73,1983,Star Wars Ep. VI: Return of the Jedi,309205079,263500000,572705079
73,74,1996,Independence Day,306169255,511231623,817400878
74,75,2003,Pirates of the Caribbean: The Curse of the Blac…,305411224,329542879,634954103
75,76,2012,Skyfall,304360277,806166704,1110526
76,77,2012,The Hobbit: An Unexpected Journey,303003568,714000000,1017003
77,78,2009,Harry Potter and the Half-Blood Prince,302089278,633124489,935213767
78,79,2010,The Twilight Saga: Eclipse,300531751,405571077,706102828
79,80,2009,The Twilight Saga: New Moon,296623634,390934093,687557727
80,81,2010,Harry Potter and the Deathly Hallows: Part I,296131568,664300000,960431568
81,82,1999,The Sixth Sense,293506292,379300000,672806292
82,83,2009,Up,293004164,438459213,731463377
83,84,2010,Inception,292576195,539825887,832402082
84,85,2012,"The Twilight Saga: Breaking Dawn, Part 2",292324737,537400000,829724737
85,86,2007,Harry Potter and the Order of the Phoenix,292137260,650939197,943076457
86,87,2005,"The Chronicles of Narnia: The Lion, the Witch a…",291710957,428828615,720539572
87,88,2018,Aquaman,291638247,727500391,1019138
88,89,2013,Man of Steel,291045518,376954000,667999518
89,90,1980,Star Wars Ep. V: The Empire Strikes Back,290271960,243889374,534161334
90,91,2005,Harry Potter and the Goblet of Fire,290201752,606898042,897099794
91,92,2001,"Monsters, Inc.",289423425,270334294,559757719
92,93,1990,Home Alone,285761243,190923432,476684675
93,94,2015,The Hunger Games: Mockingjay - Part 2,281723902,367262885,648986787
94,95,2003,The Matrix Reloaded,281553689,457023240,738576929
95,96,2011,"The Twilight Saga: Breaking Dawn, Part 1",281287133,408132918,689420051
96,97,2004,Meet the Fockers,279167575,237400000,516567575
97,98,2009,The Hangover,277322503,188441583,465764086
98,99,2013,Gravity,274092705,419605968,693698673
99,100,2016,Sing,270329045,364129526,634458571