In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import data source
base_df = pd.read_csv('../movie_base.csv')
base_df.head()

,Unnamed: 0,Rank,Released,Movie,DomesticBox Office,InternationalBox Office,WorldwideBox Office
0,0,1,2015,Star Wars Ep. VII: The Force Awakens,936662225,1116648,2053311
1,1,2,2009,Avatar,760507625,2015837,2776345
2,2,3,2018,Black Panther,700059566,648300000,1348359
3,3,4,2018,Avengers: Infinity War,678815482,1369988,2048803
4,4,5,1997,Titanic,659363944,1548844,2208208