In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
base_url = 'https://www.rottentomatoes.com/m/'
# add the correct User-Agent
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}

In [3]:
def get_url(base_url, movie_name):
    tag_list = movie_name.lower().split()
    
    tag = ''
    for item in tag_list:
        if(item != tag_list[-1]):
            tag = tag + str(item) + '_'
        else:
            tag = tag + str(item)
    
    url = base_url + tag
    
    return url

In [22]:
movie_data = pd.read_csv('../movie_base.csv')
movie_data.head()

,Unnamed: 0,Rank,Released,Movie,DomesticBox Office,InternationalBox Office,WorldwideBox Office
0,0,1,2015,Star Wars Ep. VII: The Force Awakens,936662225,1116648,2053311
1,1,2,2009,Avatar,760507625,2015837,2776345
2,2,3,2018,Black Panther,700059566,648300000,1348359
3,3,4,2018,Avengers: Infinity War,678815482,1369988,2048803
4,4,5,1997,Titanic,659363944,1548844,2208208